
<!Doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Roboto|Roboto+Condensed&display=swap" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <body>

    <div class="container-fluid ">
        <div class="row">
        <div class="col-lg-2 bg-info p-3 text-center px-1 text-white">  <h1 class="display-4">Akash's Blog</h1></div>
        <div class="col-lg-10">
        <nav class="nav bg-dark p-3 justify-content-end px-5">
            <a href="{% url 'blog:post_list' %}" class="nav-link btn-link text-white">Home</a>
            <a href="" class="nav-link btn-link text-white">Blog</a>
            <a href="{% url 'blog:post_feed'%}" class="nav-link btn btn-link bg-danger  text-white" >Subscribe to my RSS feed</a>
        </nav>
        </div>
        </div>

            <!-- <h1>Posts</h1> -->
        {% block content %}

        {% endblock %}
        <footer class="footer nav bg-success p-3 justify-content-center px-5">
            <a href="{% url 'blog:post_list' %}" class="nav-link btn-link text-white">blog</a>
            <a href="" class="nav-link btn-link text-white">Twitter</a>
            <a href="" class="nav-link btn-link text-white">Facebook</a>
        </footer>
        </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>
