{% extends 'blog/base.html' %}




{% block content %}
<div class="row">
        <div class="col-lg-8 mt-5 offset-lg-1 bg-white text-dark">
            <h2 class="p-1 text-info"style="font-family: Montserrat, Roboto Condensed; font-size: 30px" >{{post.title}}

            </h2>

            <div class="container  p-2">

            <div class="justify-content-center text-success"><h5>  {{post.created.date}}|Tags:
                {% for tag in post.tags.all %}
                   <a style="border-radius:10px; padding:3px;font-size: 15px;font-family: monospace;" class="text-decoration-none text-white bg-dark" href="{% url 'blog:post_list_by_tag' tag.slug %}">{{tag.name}}</a>
                {% if not forloop.last %}{% endif %}
                {% endfor %}</h5></div>
            <hr>
            <p class="text-justify">{{post.body|linebreaks}}</p>
            </div>

            {% with comments.count as total_comments %}
                <h2>{{total_comments}} comment{{total_comments|pluralize}}</h2>
            {% endwith %}
            {% for comment  in comments %}
                <p class="info">
                    Comment {{forloop.counter}}by {{comment.name}}
                    <br><sub><strong style="font-family: sans-serif;"class="text-success">{{comment.created.date}}</strong></sub>
                    <div class="bg-light bg-info" style="border:1px solid black; padding: 5px"><i style="background-color: teal;color: white;padding: 2px">{{comment.body}}</i>
                    </div>

                </p>


            {%empty%}

            <p>There are no comments yet</p>
            {% endfor %}

            {%if new_comment %}
            <h2>Your comment has been added.</h2>

            {%else%}


            <h2>Add a new comment here...</h2>
            <form action="" method="post">
                {{comment_form.as_p}}
                {%csrf_token%}
                <p><input type="submit" value="Add comment"></p>
            </form>
        </div>
        <div class="jumbotron col-lg-2">
            <h2 class="heading">Similar posts</h2>
            {% for post in similar_posts %}
                    <a href="{{post.get_absolute_url }}"style="border-radius:5px; padding:1px;font-size: 15px;font-family: Roboto;" class=" text-decoration-none text-white bg-dark">{{post.title}} <br>
                    </a>

            {% empty %}
                There are no similar posts yet
            {% endfor %}
        </div>
    </div>
    {% endif %}
{% endblock %}

