{% extends 'blog/base.html' %}

        {% block content %}
            <div class="col-lg-10 offset-lg-1 bg-dark text-white">
            <h1 class="p-3">All   posts</h1>
            <div class="container mt-5 p-4">
            {% for post in posts%}
               <a href="{{post.get_absolute_url}}" class="btn-link text-decoration-none text-info ">{{post.title}}</a>

               <strong class="text-success"><sub>{{post.publish}} by {{post.author}} </sub></strong>
               <p>{{ post.body|truncatewords:30|linebreaks }}</p>
            {% endfor %}
            </div>
        </div>
        {% endblock %}
